<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{url_for('static', filename='css/main.css')}}" rel="stylesheet" />
    <title>T_Todos</title>
</head>

<body>
    <main>
        <!-- 그전 header -->
        {% block content %}
        {% endblock %}
    </main>

    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/601acb36c7.js" crossorigin="anonymous"></script>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="../static/js/main.js"></script>
</body>

</html>