{% include "header.html" %}
{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

<!-- Page Header -->
<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    {% if current_user.is_authenticated %}
                        <h1>hi</h1>
                    {% else %}
                        <h1>hi</h1>
                    {% endif %}
                    <span class="subheading">A collection of random musings.</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% block content %}
<div class="container">
    <h2>T_Todos</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.email) }}
        {{ wtf.form_field(form.password) }}
        {{ wtf.form_field(form.submit) }}
    </form>
</div>
{% endblock %}

{% include "footer.html" %}