{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>Edit Team Member</h1>
    <!-- User Details -->
    <div class="user-details">
        <h2>{{ user.Username }}</h2>
        <img style="width: 300px; height:300px; object-fit: cover; border-radius: 50%;" src="{{ user.ProfilePic}}" alt="Profile Picture" />
        <!-- Add more details you want to show -->
    </div>
    <!-- User Edit Form -->
    <form action="{{ url_for('process_edit_team_member', user_id=user.UserID) }}" method="post">
        <input type="text" name="username" value="{{ user.Username }}" required>
        <!-- Include other fields you want to be able to edit -->
        <button type="submit" class="btn btn-success">Save Changes</button>
    </form>
    <div class="main_image">
        <a href="{{ url_for('chat') }}">
            <img src="{{ url_for('static', filename='img/image.png') }}" alt="Chat" style="width: 50px; height: 50px;">
            chat
        </a>
    </div>
</div>

{% endblock %}
